<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon_ico/
  apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon_ico/
  favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon_ico/
  favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon_ico/site.webmanifest" />

    <!-- Primary Meta Tags -->
    <meta name="title" content="Free Photos For Everyone" />
    <meta name="description" content="Download free HD Images with Snapz." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://snapz.onrender.com/" />
    <meta property="og:title" content="Free Photos For Everyone" />
    <meta
      property="og:description"
      content="Download free HD images with Snapz."
    />
    <meta
      property="og:image"
      content="https://snapz.onrender.com/logo/snapz_logo.
  png"
    />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://snapz.onrender.com/" />
    <meta property="twitter:title" content="Free Photos For Everyone" />
    <meta
      property="twitter:description"
      content="Download free HD images with 
  Snapz."
    />
    <meta
      property="twitter:image"
      content="https://snapz.onrender.com/logo/
  snapz_logo.png"
    />

    <!-- Meta Tags Generated with https://metatags.io -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&
  display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/template.css" />
    <script src="/app.js" defer></script>
    <title>Snapz | Free Photos For Everyone</title>
  </head>

  <body>
    <header>
      <h1>snapz,</h1>
      <p>free photos for everyone</p>
    </header>

    <section>
      <% if (data) { %>
      <div class="image_container">
        <img loading="lazy" src="<%=data.urls.regular%>" alt="<%=data.alt_description%>" />
      </div>

      <div class="image_about user">
        <h5><%=data.description%></h5>
        <p>Photo by <a href="#"><%=data.user.name%></a></p>
        <span>views : <%=data.views%></span>
        <span> downloads : <%=data.downloads%></span>

        <div class="tags">
          <% data.tags.forEach(tag => { %>
          <a href="/?q=<%=tag.title%>"><%=tag.title%></a>
          <% }) %>
        </div>
      </div>

      <% } %>
    </section>

    <nav class="bottom_nav">
      <ul>
        <li>
          <a href="/">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M216.13,106.72l-80-75.54-.05-.05a12,12,0,0,0-16.2.05L39.93,106.67A12,12,0,0,0,36,115.54V208a12,12,0,0,0,12,12H208a12,12,0,0,0,12-12V115.54A12,12,0,0,0,216.13,106.72ZM212,208a4,4,0,0,1-4,4H48a4,4,0,0,1-4-4V115.54a4.09,4.09,0,0,1,1.36-3L125.3,37.05a4,4,0,0,1,5.36,0l80,75.55a4,4,0,0,1,1.31,3Z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="/favorites">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M178,36c-21.44,0-39.92,10.19-50,27.07C117.92,46.19,99.44,36,78,36A58.07,58.07,0,0,0,20,94c0,28.59,18,58.47,53.4,88.79a333.81,333.81,0,0,0,52.7,36.73,4,4,0,0,0,3.8,0,333.81,333.81,0,0,0,52.7-36.73C218,152.47,236,122.59,236,94A58.07,58.07,0,0,0,178,36ZM128,211.42C114,203.46,28,152.07,28,94A50.06,50.06,0,0,1,78,44c21.11,0,38.85,11.31,46.3,29.51a4,4,0,0,0,7.4,0C139.15,55.31,156.89,44,178,44a50.06,50.06,0,0,1,50,50C228,152,142,203.46,128,211.42Z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="/settings">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M128,84a44,44,0,1,0,44,44A44.05,44.05,0,0,0,128,84Zm0,80a36,36,0,1,1,36-36A36,36,0,0,1,128,164Zm106-56a4,4,0,0,0-2-2.7l-30.89-17.6q-.47-.82-1-1.62L200.1,51.2a3.94,3.94,0,0,0-1.42-3,107.8,107.8,0,0,0-35.41-19.94,4,4,0,0,0-3.23.29L129,45.87h-2l-31-17.36a4,4,0,0,0-3.23-.3,108.05,108.05,0,0,0-35.39,20,4,4,0,0,0-1.41,3l-.16,34.9-1,1.62L23.9,105.3A4,4,0,0,0,22,108a102.76,102.76,0,0,0,0,40,4,4,0,0,0,1.95,2.7l30.89,17.6q.47.83,1,1.62l.12,34.87a3.94,3.94,0,0,0,1.42,3,107.8,107.8,0,0,0,35.41,19.94,4,4,0,0,0,3.23-.29L127,210.13h2l31,17.36a4,4,0,0,0,3.23.3,108.05,108.05,0,0,0,35.39-20,4,4,0,0,0,1.41-3l.16-34.9,1-1.62L232.1,150.7a4,4,0,0,0,2-2.71A102.76,102.76,0,0,0,234,108Zm-7.48,36.67L196.3,161.84a4,4,0,0,0-1.51,1.53c-.61,1.09-1.25,2.17-1.91,3.24a3.92,3.92,0,0,0-.61,2.1l-.16,34.15a99.8,99.8,0,0,1-29.7,16.77l-30.4-17a4.06,4.06,0,0,0-2-.51H130c-1.28,0-2.57,0-3.84,0a4.1,4.1,0,0,0-2.05.51l-30.45,17A100.23,100.23,0,0,1,63.89,202.9l-.12-34.12a3.93,3.93,0,0,0-.61-2.11c-.66-1-1.3-2.14-1.91-3.23a4,4,0,0,0-1.51-1.53L29.49,144.68a94.78,94.78,0,0,1,0-33.34L59.7,94.16a4,4,0,0,0,1.51-1.53c.61-1.09,1.25-2.17,1.91-3.23a4,4,0,0,0,.61-2.11l.16-34.15a99.8,99.8,0,0,1,29.7-16.77l30.4,17a4.1,4.1,0,0,0,2.05.51c1.28,0,2.57,0,3.84,0a4,4,0,0,0,2.05-.51l30.45-17A100.23,100.23,0,0,1,192.11,53.1l.12,34.12a3.93,3.93,0,0,0,.61,2.11c.66,1,1.3,2.14,1.91,3.23a4,4,0,0,0,1.51,1.53l30.25,17.23A94.78,94.78,0,0,1,226.54,144.66Z"
              ></path>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
